@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* Reglas generales // General rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", "sans-serif";
}

/* NAV */
.navbar {
	background-color: #8e6e53;
}

.navbar a {
	font-size: 1.5em;
	color: #ffffff;
}

.navbar ul a:hover {
	padding-bottom: 0;
	border-bottom: 2px solid #ffffff;
}

.navbar a:hover {
	color: #ffffff;
}

.logo-container {
	width: 100%;
}

.logo-container img {
	width: 100%;
}

/* HEADER */
.text-container {
	margin-top: 2em;
	width: 100%;
	text-align: center;
}

.text-container h1 {
	color: #1f5247;
	font-size: 1.5em;
}

.text-container p {
	margin-top: 1em;
	color: #1f5247;
	font-size: 1em;
	font-weight: 300;
}

section {
	margin-top: 1em;
}

section img {
	display: none;
	width: 100%;
	margin-bottom: 5em;
	border-radius: 10px;
}

.img-container {
	display: none;
}

section .text-container {
	width: 100%;
	text-align: start;
}

.btn-container {
	margin-top: 2em;
	gap: 5em;
}
.btn-container .btn {
	background-color: #1f5247;
	border: none;
	font-size: 0.75em;	
}

.btn-container .btn:hover {
	background-color: #1f7247;
}

/* FOOTER */
.footer {
	margin-top: 1em;
	background-color: #8e6e53;
}

.footer span {
	color: #ffffff;
}

.footer ul {
	margin-right: 25px;
}

@media (min-width: 768px) {
	.logo-container img {
		width: 25%;
	}
	.text-container h1 {
		font-size: 2em;
	}
	.text-container p {
		font-size: 1.5em;
	}
	.btn-container .btn {
		font-size: 1.5em;
		padding: 10px 40px;
	}
}

@media (min-width: 992px) {
	section img {
		display: flex;
	}
	.img-container {
		display: flex;
	}
}