@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* Reglas generales // General rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", "sans-serif";
}

.navbar {
	background-color: #8e6e53;
}

.navbar a {
	font-size: 1.5em;
	color: #ffffff;
}

.navbar a:hover {
	color: #ffffff;
}

.logo-container {
	width: 75%;
}

.logo-container img {
	width: 100%;
}

.text-container {
	width: 75%;
	text-align: center;
}

.text-container h1 {
	color: #1f5247;
	font-size: 2.5em;
}

.text-container p {
	margin-top: 50px;
	color: #1f5247;
	font-size: 1.5em;
	font-weight: 300;
}

.btn-container {
	gap: 2em;
}
.btn-container .btn-primary {
	background-color: #1f5247;
	border: none;
}

.btn-container .btn-secondary {
	background-color: #77a384;
	border: none;
}

.footer {
	margin-top: 5em;
	background-color: #8e6e53;
}

.footer span {
	color: #ffffff;
}

.footer ul {
	margin-right: 25px;
}

@media (width < 321px) {
	.footer {
		align-items: center;
		text-align: center;
	}
	
}